In [1]:
import pandas as pd
import numpy as np

# Load data
df = pd.read_csv('steam-200k.csv')

# use buy behavior
df = df[df['Behavior']==1]

#split data 20,000 purchase
df = df[:20000]
df

         User_ID                                     Game      Type  Behavior
0      151603712               The Elder Scrolls V Skyrim  purchase       1.0
2      151603712                                Fallout 4  purchase       1.0
4      151603712                                    Spore  purchase       1.0
6      151603712                        Fallout New Vegas  purchase       1.0
8      151603712                            Left 4 Dead 2  purchase       1.0
...          ...                                      ...       ...       ...
31045  215786295                                 Warframe  purchase       1.0
31046  119170251               The Elder Scrolls V Skyrim  purchase       1.0
31048  119170251   The Elder Scrolls V Skyrim - Dawnguard  purchase       1.0
31049  119170251  The Elder Scrolls V Skyrim - Hearthfire  purchase       1.0
31050  130303679                                  Only If  purchase       1.0

[20000 rows x 4 columns]

In [2]:
user = pd.DataFrame()
user['User_ID'] = df['User_ID'].drop_duplicates()
user = user.reset_index(drop=True)
#user.to_csv('Users.csv')
user

        User_ID
0     151603712
1     187131847
2      59945701
3      53875128
4     234941318
...         ...
1795   82728085
1796   15305418
1797  215786295
1798  119170251
1799  130303679

[1800 rows x 1 columns]

In [3]:
purchase = pd.DataFrame()
purchase = df[['User_ID','Game','Behavior']]
purchase = purchase.reset_index(drop=True)
#purchase.to_csv('Purchase.csv')
purchase

         User_ID                                     Game  Behavior
0      151603712               The Elder Scrolls V Skyrim       1.0
1      151603712                                Fallout 4       1.0
2      151603712                                    Spore       1.0
3      151603712                        Fallout New Vegas       1.0
4      151603712                            Left 4 Dead 2       1.0
...          ...                                      ...       ...
19995  215786295                                 Warframe       1.0
19996  119170251               The Elder Scrolls V Skyrim       1.0
19997  119170251   The Elder Scrolls V Skyrim - Dawnguard       1.0
19998  119170251  The Elder Scrolls V Skyrim - Hearthfire       1.0
19999  130303679                                  Only If       1.0

[20000 rows x 3 columns]

In [4]:
impli_matrix = df_matrix = pd.pivot_table(purchase,index='Game',columns='User_ID',values='Behavior',aggfunc=np.sum,fill_value=0)
impli_matrix

User_ID,103360,604988,1364546,1851828,1950243,2382003,2428602,3974133,4064412,4325465,...,308220794,308280913,308452993,308653033,308692673,308851352,309038666,309404240,309626088,309824202
Game,,,,,,,,,,,,,,,,,,,,,
1... 2... 3... KICK IT! (Drop That Beat Like an Ugly Baby),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100% Orange Juice,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12 Labours of Hercules,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12 Labours of Hercules II The Cretan Bull,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12 Labours of Hercules III Girl Power,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
realMyst,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
resident evil 4 / biohazard 4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
sZone-Online,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
the static speaks my name,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
theHunter,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [5]:
corr_matrix=impli_matrix.corr(method='pearson')
corr_matrix

User_ID,103360,604988,1364546,1851828,1950243,2382003,2428602,3974133,4064412,4325465,...,308220794,308280913,308452993,308653033,308692673,308851352,309038666,309404240,309626088,309824202
User_ID,,,,,,,,,,,,,,,,,,,,,
103360,1.000000,0.894125,0.842776,1.000000,0.283124,0.894125,0.651818,0.894125,0.761933,0.894125,...,-0.001066,-0.001066,-0.001066,-0.001508,-0.001066,-0.001066,-0.001066,-0.002386,-0.001066,-0.001066
604988,0.894125,1.000000,0.942650,0.894125,0.318554,1.000000,0.729434,1.000000,0.852371,1.000000,...,-0.000953,-0.000953,-0.000953,-0.001349,-0.000953,-0.000953,-0.000953,-0.002133,-0.000953,-0.000953
1364546,0.842776,0.942650,1.000000,0.842776,0.337935,0.942650,0.687396,0.942650,0.803385,0.942650,...,-0.001011,-0.001011,-0.001011,-0.001431,-0.001011,-0.001011,-0.001011,-0.002263,-0.001011,-0.001011
1851828,1.000000,0.894125,0.842776,1.000000,0.283124,0.894125,0.651818,0.894125,0.761933,0.894125,...,-0.001066,-0.001066,-0.001066,-0.001508,-0.001066,-0.001066,-0.001066,-0.002386,-0.001066,-0.001066
1950243,0.283124,0.318554,0.337935,0.283124,1.000000,0.318554,0.287270,0.318554,0.338848,0.318554,...,-0.002993,0.112493,0.112493,-0.004234,0.112493,0.112493,0.112493,0.044985,0.112493,0.112493
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308851352,-0.001066,-0.000953,-0.001011,-0.001066,0.112493,-0.000953,-0.001307,-0.000953,-0.001119,-0.000953,...,-0.000337,-0.000337,-0.000337,-0.000476,-0.000337,1.000000,-0.000337,-0.000753,-0.000337,-0.000337
309038666,-0.001066,-0.000953,-0.001011,-0.001066,0.112493,-0.000953,0.257590,-0.000953,-0.001119,-0.000953,...,-0.000337,1.000000,-0.000337,-0.000476,1.000000,-0.000337,1.000000,-0.000753,-0.000337,1.000000
309404240,-0.002386,-0.002133,-0.002263,-0.002386,0.044985,-0.002133,-0.002925,-0.002133,0.132701,-0.002133,...,-0.000753,-0.000753,-0.000753,0.315535,-0.000753,-0.000753,-0.000753,1.000000,-0.000753,-0.000753
309626088,-0.001066,-0.000953,-0.001011,-0.001066,0.112493,-0.000953,-0.001307,-0.000953,-0.001119,-0.000953,...,-0.000337,-0.000337,-0.000337,-0.000476,-0.000337,-0.000337,-0.000337,-0.000753,1.000000,-0.000337
309824202,-0.001066,-0.000953,-0.001011,-0.001066,0.112493,-0.000953,0.257590,-0.000953,-0.001119,-0.000953,...,-0.000337,1.000000,-0.000337,-0.000476,1.000000,-0.000337,1.000000,-0.000753,-0.000337,1.000000

In [6]:
###get rid of self correlation
np.fill_diagonal(corr_matrix.values,np.nan)

### sort for top five correlation ( argsort sort min to max so we put minus on the dataset and return index)
order_top5=np.argsort(-corr_matrix.values, axis=1)[:,:5]

### sort for worst correlation
order_worst=np.argsort(corr_matrix.values, axis=1)[:,:1]

### create top5 data frame
result_top5 = pd.DataFrame(
    corr_matrix.columns[order_top5], 
    columns=['1st', '2nd', '3rd', '4th', '5th'],
    index=corr_matrix.index
)
result_top5

C:\Users\GUN\anaconda3\lib\site-packages\ipykernel_launcher.py:12: DeprecationWarning: Support for multi-dimensional indexing (e.g. `index[:, None]`) on an Index is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  if sys.path[0] == '':

                 1st        2nd        3rd        4th        5th
User_ID
103360       1851828    4485779     604988    7507458    2382003
604988      62923086    9439949    7507458    2382003    5232588
1364546     14165501    5232588     604988    9439949   62923086
1851828       103360     604988   62923086    7507458    2382003
1950243     81743539  234108053   14417857   98312003    4834220
...              ...        ...        ...        ...        ...
308851352  240704163  231009125  268158408   62601134  240400609
309038666  164699741  165269326  165523661  165842250  166242802
309404240  280721592  292936227  124777563  246892835  149438233
309626088  159152280  115192877  176033341   72207742  126098408
309824202  164699741  165034415  165216297  165269326  165523661

[1800 rows x 5 columns]